.footer{
    height: 140px;
    text-align: center;
    padding: 30px 0;
    background-color: #222;
    color: white;
}
.links-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
}